.banner {
  height: 448px;
  object-fit: contain;
  color: white;
}

@media (min-width: 1500px){
  .banner {
    position: relative;
    height: 600px;
  }
  .banner--fadeBottom {
    width: 100%;
    height: 40rem;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .banner__contents {
    margin-left: 0 !important;
    padding-left: 2.3rem;
    width: min-content !important;
  }
  .banner__description {
    width: auto !important;
    font-size: 0.8rem !important;
  }
  .info {
    text-align: start;
    padding-right: 1.2rem;
  }
  .space {
    margin-left: 6px;
  }
  .banner_button {
    border-radius: 4px !important;
    font-size: 0.8rem;
  }
}

.banner__contents {
  margin-left: 40px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  padding-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 800;
}

.banner__description {
  padding-top: 1rem;
  width: 45rem;
  height: 80px;
  max-width: 400px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#f111);
}

.banner__buttons {
  display: flex;
  flex-direction: row;
}

.banner__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.banner__button:hover {
  color: #000;
  background-color: rgba(170,170,170,0.9);
  transition: all 0.2s;
}

.play {
  background-color: white;
  color: black;
}